{% extends 'base.html' %}
{% block content %}
<div class="max-w-md mx-auto bg-white p-6 rounded shadow">
  <h2 class="text-xl font-bold mb-4">Add topic</h2>
  <h1 class="text-2xl font-bold text-gray-800 mb-4">
    {% if edit_mode %}Edit topic{% else %}Add topic{% endif %}
  </h1>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
  <div class="flex justify-between items-center">
      <a href="{% url 'topic_list' %}" class="text-gray-600 hover:underline">Return to list</a>
      <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">
        save
      </button>
    </div>
  </form>
</div>
{% endblock %}
